<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GoldLink{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="debug"></div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block scriptfooter %}{% endblock %}
    </body>
</html>
